.navbar-nav,
.navbar-nav .nav-item a {
  color: #fff !important;
}
.navbar-nav .vr {
  align-self: center;
  min-height: 1.1em;
  color: #000;
}
.nav-link .badge {
  font-size: 0.6em;
}
.user p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.user-logo {
  content: url(./user_logo.svg);
  height: 40px;
  background: rgb(218, 218, 218);
  border-radius: 50%;
}
.dots {
  content: url(./dots.svg);
}
.hand-thumbs-up {
  content: url(./hand_thumbs_up.svg);
  height: 18px;
}
.feed .card-footer p {
  margin-top: auto;
  margin-bottom: auto;
}
.message {
  content: url(./message.svg);
}
.share {
  content: url(./share.svg);
}
